<h1>Hello World!</h1>

<form id="request-game" class="external-request" action="/" method="post">
  <input type="text" name="query">
  <input type="submit" value ="Find this game!">
</form>

<form id="request-character" class="external-request" action="/" method="post">
  <input type="text" name="query">
  <input type="submit" value ="Find this character!">
</form>
